<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>My cart</title>
    <style type="text/css"></style>
    
</head>
<body style="background-image: linear-gradient(white, #fff8bf, #fc6f03);">

    <h1 style="font-size:60px">My cart:</h1>

    <button><a href="/">Home</a></button>
        

    <br/>
    <br />

    <h2 style="border-width:6px; border-style:solid; border-color:#fc6f03; width:250px;">shopping cart (2 itams)</h2>
    <img src="https://www.magicalearscollectibles.com/assets/images/1a964c4638628134.jpg" width="300px">
    <br />
    <h4>goofy candy 15$</h4>
    <button>add to cart</button>
    <br />

    <br />
    <img src="https://m.media-amazon.com/images/I/71UiUqR56rL.jpg"width="300px">
    <br />
    <h4>goofy pop 20$</h4>
    <button>add to cart</button>
    <br />

    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a912f0b9-1793-414f-9dac-86556b21ff69/dfogv4x-1152852b-1dfc-4510-a94a-9d3e57938c1f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E5MTJmMGI5LTE3OTMtNDE0Zi05ZGFjLTg2NTU2YjIxZmY2OVwvZGZvZ3Y0eC0xMTUyODUyYi0xZGZjLTQ1MTAtYTk0YS05ZDNlNTc5MzhjMWYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.54H6Spv-8XxqsPPo4alHD5UWEuQeLx75GwWQP3BCCRI" width="300px">
    <br />
    <h4>goofy fanart 1000$</h4>
    <button>add to cart</button>
    <br />

    <br />
    <img src="https://lego.bricksmegastore.com/cdn/shop/products/1_2e1c8d00-a732-4698-8ea0-3aa7d1dd1c1e_1024x.jpg?v=1645660846"width="300px">
    <br />
    <h4>goofy keyring 5$</h4>
    <button>add to cart</button>
    <br />


  

</body>
</html>