<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>The Goofy shop</title>
    <style type="text/css">
        * {font-family: 'Courier New', monospace;}
        
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body style="background-image: linear-gradient(white, #fff8bf, #fc6f03);">
    <center>
    <img src="https://logodix.com/logo/1073807.jpg" width="250px">
    <h1 style="font-size:100px">The Goofy shop</h1>

  <ul class="nav-links">
    <li class="center"><a href="/">Home</a></li>
    <li class="upward"><a href="/cart">My cart</a></li>
    <li class="forward"><a href="/product">Product</a></li>
  </ul>
  <br/>
  <br/>

    <h2>Here you can buy everything you didnt know you needed of Goffy</h3>
    <br />
    <h3>Goofy is a cartoon character created by The Walt Disney Company.</h5>
    <p>He is a tall, anthropomorphic dog who typically wears a turtle neck and vest, with pants, shoes, white gloves, and a tall hat originally designed as a rumpled fedora.</p>
    <br />
    <p>Goofy is a close friend of Mickey Mouse and Donald Duck, and is Max Goof's father. He is normally characterized as hopelessly clumsy and dim-witted, yet this interpretation is not always definitive; occasionally, Goofy is shown as intuitive and clever, albeit in his own unique, eccentric way.</p>
    <br />
    <br />
    <img src="https://stan.10buy.co.il/images/products/og/8777/5157bb247b4faa731186e97f33c0adf3_s-l1600.jpg" width="200px">
    <img src="https://i5.walmartimages.com/asr/4e12b4ca-9357-4488-bb04-54d6386b2af3.254e7c178ae3fc1be2c2fc54ac5d7499.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF"width="200px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGGXF8BcIaH6GonU91L2gRE5WuFDLIRi2J2g&usqp=CAU"width="138px">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyzQjjY3jmh9H-EdBqrklnl3_D7XEw-2JdGQ&usqp=CAU"width="200px">
    <img src="https://image.whatamazingthings.com/2022/09/goofy-comic-snacks-casual-goofy-disney-goofy-lover-slip-on-shoes.jpg"width="200px">
    <br />
    <br />
    <br/>
    <a href="https://en.wikipedia.org/wiki/Goofy">read more about goofy</a>
    </center>
</body>
</html>