<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <style type="text/css"></style>


</head>
<body style="background-image: linear-gradient(white, #fff8bf, #fc6f03);">
    <br/>
    <br/>
    <button><a href="/">Home</a></button>
    <center>
    <img src="https://www.merchandisingplaza.co.uk/260920/2/T-shirts-Goofy-Goofy-Costume-Tee-Shirt-l.jpg" width="500px">
    <h3>Goofy Costume Tee Shirt</h3>
    <h3>25$</h3>
    <h4>Officially licensed men's Goofy tee shirt. Comes in navy blue and features  "I'm So Goofy" logo on the front. Made from 100% cotton.</h4>

    </center>
</body>
</html>
